{% extends "projects/project_base.html" %}
{% load getitem_tag %}
{% load static %}
{% block content %}
<h2 class="page-title">
    项目明细
  </h2>
<div class="m-5 col-sm-10 col-lg-10">
    <div class="col-sm-6 col-lg-10">
        <h2>{{ project.name }}</h2>
        <p>父项目：
            {% if project.parent_project %}
            <a href="{% url 'project_detail' project.parent_project.id %}">{{ project.parent_project }}</a>
            {% else %}
            无
            {% endif %}
        </p>
        <table border="1">
            <tr>
                <td>经办人：{{ project.transactor }}</td>
                <td>单位主体：{{ project.businessentity }}</td>
            </tr>
            <tr>
                <td>创建日期：{{ project.cdate }}</td>
                <td>修改日期：{{ project.lcdate }}</td>
            </tr>
            <tr>
                <td>金额：{{ project.amount }}</td>
                <td>进度：<progress max="100" value="{{ progress }}" titile="{{ progress }}%"></progress></td>
            </tr>
            <tr>
                <td colspan="2">
                    <p>内容：</p>
                    <p class="px-3">{{ project.content }}</p>
                </td>
            </tr>
        </table>
        <p><a href="{% url 'project_update' project.id%}">编辑</a></p>
    </div>

    <div>
        <div>
            <span style="font-size:x-large">子项目</span><a class="btn btn-primary m-1"
                href="{% url 'project_create' project.id %}" role="button">添加</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">项目名</th>
                    <th scope="col">活动日期</th>
                    <th scope="col">经办人</th>
                    <th scope="col">状态</th>
                    <th scope="col">金额</th>
                    <th scope="col">进度</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for cproject in project.child_projects.all|dictsortreversed:"lcdate" %}
                <tr>
                    <td><a href="{% url 'project_detail' cproject.id%}">{{ cproject.name }}</a></td>
                    <td>{{ cproject.lcdate| date:"Y-m-d" }}</td>
                    <td>{{ cproject.transactor }}</td>
                    <td>{{ cproject.task_state }}</td>
                    <td>{{ cproject.amount }}</td>
                    <td><progress class="progress-bar bg-success" max="100" value="{{ cprogresses|get_item:cproject.id }}"
                            titile="{{ cprogresses|get_item:cproject.id }}%"></progress></td>
                    <td><a href="{% url 'project_update' cproject.id%}">修改</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">空</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <div>
            <span style="font-size:x-large">支付</span>
            <a class="btn btn-primary m-1"
                href="{% url 'pay_create_fromproject' project.id %}" role="button">添加</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">支付项</th>
                    <th scope="col">支付日期</th>
                    <th scope="col">经办人</th>
                    <th scope="col">金额</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for pay in project.pays.all|dictsortreversed:"paydate" %}
                <tr>
                    <td>{{ pay.name }}</td>
                    <td>{{ pay.paydate }}</td>
                    <td>{{ pay.transactor }}</td>
                    <td>{{ pay.amount }}</td>
                    <td><a href="{% url 'pay_update' pay.id%}">编辑</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">空</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <div>
            <span style="font-size:x-large">进程</span><a class="btn btn-primary m-1"
                href="{% url 'schedule_create' project.id %}" role="button">添加</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">事件</th>
                    <th scope="col">日期</th>
                    <th scope="col">经办人</th>
                    <th scope="col">关键节点</th>
                    <th scope="col">是否完成</th>
                    <th scope="col">进度占比</th>
                    <th scope="col">超期否</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for schedule in project.schedules.all|dictsortreversed:"lcdate" %}
                <tr {% if sexpireds|get_item:schedule.id %}style="color:red" {% endif %}>
                    <td><a href="{% url 'schedule_detail' schedule.id%}">{{ schedule.name }}</a></td>
                    <td>{{ schedule.lcdate| date:"Y-m-d" }}</td>
                    <td>{{ schedule.transactor }}</td>
                    <td><input type="checkbox" onclick="return false" {% if schedule.iskey %}checked{% endif %} /></td>
                    <td><input type="checkbox" onclick="return false" {% if schedule.isfin %}checked{% endif %} /></td>
                    <td>{{ schedule.progress }}</td>
                    <td>{% if sexpireds|get_item:schedule.id %}<span class="badge bg-danger">超期</span>
                        {% else %}<span class="badge bg-success">未超期</span>{% endif %}</td>
                    <td><a href="{% url 'schedule_update' schedule.id%}">修改</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">空</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>
{% endblock %}