{% extends "projects/project_base.html" %}
{% load getitem_tag %}
{% load static %}
{% block content %}
<h2 class="page-title">
    项目列表
  </h2>
<div class="col-md-6">
    <table>
        <tr>
            <td> 
                <select class="form-control" onchange="self.location.href=options[selectedIndex].value">
                    <option value="{% url 'myproject_list' %}all/{{ ismain }}" {% if state == "all" %} selected {% endif %}>全部</option>
                    <option value="{% url 'myproject_list' %}fin/{{ ismain }}" {% if state == "fin" %}selected{% endif %}>
                        已完成</option>
                    <option value="{% url 'myproject_list' %}unfin/{{ ismain }}" {% if state == "unfin" %}selected{% endif %}>未完成
                    </option>
                </select>
            </td>
            <td>
                <select class="form-control" onchange="self.location.href=options[selectedIndex].value">
                    <option value="{% url 'myproject_list' %}{{ state }}/0" {% if ismain == '0' %} selected {% endif %}>
                        所有项目</option>
                    <option value="{% url 'myproject_list' %}{{ state }}/1" {% if ismain != '0' %} selected {% endif %}>
                        主要项目</option>
                </select>
            </td>
            <td>
                <a class="btn btn-primary m-1" href="{% url 'project_create' %}" role="button">添加</a>
            </td>
            <td>
              
            </td>
        </tr>
    </table>
</div>
<div>
    {% include "projects/projects_comp.html" %}
</div>
{% if is_paginated %}
{% include "common/paginated.html"  %}
{% endif %}

{% endblock %}
