{% extends "projects/project_base.html" %}
{% load cost_tag %}

{% block content %}
<div class="col-md-6">
    <h1>项目搜索</h1>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">项目名</th>
                <th scope="col">主体</th>
                <th scope="col">状态</th>
                <th scope="col">进度</th>
                <th scope="col">经办人</th>
                <th scope="col">金额</th>
                <th scope="col">近期活动时间</th>
                <th scope="col">父项目</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for project in project_list %}
            <tr>
                <td><a href="{% url 'project_detail' project.id%}">{{ project.name }}</a></td>
                <td>{{ project.businessentity }}</td>
                <td>{{ project.task_state }}</td>
                <td>{{ progresses|return_item:project.id }}</td>
                <td>{{ project.transactor }}</td>
                <td>{{ project.amount }}</td>
                <td>{{ project.lcdate }}</td>
                <td>
                    {% if project.parent_project %}
                    <a href="{% url 'project_detail' project.parent_project.id %}">{{ project.parent_project }}</a>
                    {% else %}
                    无
                    {% endif %}
                </td>
                <td><a href="{% url 'project_update' project.id%}">编辑</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}