{% extends "projects/schedule_base.html" %}

{% block content %}
<div>
   
  </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">事项</th>
            <th scope="col">项目</th>
            <th scope="col">类型</th>
            <th scope="col">经办人</th>
            <th scope="col">时间</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for schedule in schedule_list %}
            <tr>
                <td><a href="{% url 'schedule_detail' schedule.id%}">{{ schedule.name }}</a></td>
                <td><a href="{% url 'project_detail' schedule.project.id%}">{{ schedule.project.name }}</a></td>
                <td>{{ schedule.task_type }}</td>
                <td>{{ schedule.transactor }}</td>
                <td>{{ schedule.lcdate }}</td>
                <td><a href="{% url 'schedule_update' schedule.id%}">修改</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}