{% extends "accounts/accounts_base.html" %}

{% block content %}
<div class="card fat m-auto col-md-3">
    <div class="card-body">
        <h4 class="card-title">登录</h4>
        <form method="post" class="my-login-validation">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            {{ field }}
            {{ field.errors }}
            {% endfor %}
            <div class="form-group m-0">
                <input class="m-2 btn btn-primary" type="submit" value="登录" />
            </div>
            <div class="mt-4 text-center">
                没有账号？ <a href="{% url 'register' %}">创建</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}