{% extends "base.html" %}
{% load static %}
{% load getitem_tag %}

{% block content %}
<div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row align-items-center">
        <div class="row">
          <h2 class="page-title">
            个人看板
          </h2>
        </div>
      </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
        <!-- Page title actions -->
    <div class="row row-deck row-cards">
            <div class="col-sm-3 col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">

                      <div class="h1">
                        项目
                      </div>
                    </div>
                    <div class="h2 mb-3">所有：{{ projectnum }}</div>
                    <div class="h3 mb-3">完成：{{ projectfin }}</div>
                    <div class="h3 mb-3">未完成：{{ projectufin }}</div>
                  </div>
                </div>
            </div>

            <div class="col-sm-3 col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="h1">
                        任务
                      </div>
                    </div>
                    <div class="h3 mb-3">未完成：{{ scheduleufin }}</div>      
                    <div class="d-flex align-items-center my-2">
                    <div class="subhead">近期完成</div>
                    <div class="ms-auto lh-1">前7天</div>
                  </div>
                  <div id="chart1" class="chart-sm mt-3" style="min-height: 80px;"></div>
                </div>
              </div>
            </div>

            <div class="col-sm-3 col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">

                      <div class="h1">
                        年费用
                      </div>
                    </div>
                    <div class="h2 mb-3">数量：{{ paynum }}</div>
                    <div class="h3 mb-3">总额：{{ pay_value }}</div>
                  </div>
                </div>
            </div>
    

    <div class="col-md-5 col-lg-6">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">项目</h3>
              <div class="col-md-2 ml-auto"><a href="{% url 'myproject_list' %}">更多</a></div>
            </div>
            <div class="table-responsive">
              <table class="table table-sm card-table table-vcenter">
                  <thead>
                      <tr>
                          <th scope="col">项目</th>
                          <th scope="col">进度</th>
                          <th scope="col"></th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for project in projects %}
                      <tr>
                        <td><a href="{% url 'project_detail' project.id%}">{{ project.name }}</a></td>
                        <td>
                            <progress max="100" value="{{ progresses|get_item:project.id }}"></progress></td>
                            <td><a href="{% url 'project_update' project.id%}">编辑</a></td>
                      </tr>
              {% endfor %}
                  </tbody>
              </table>
            </div>
          </div>
    </div>

    <div class="col-md-5 col-lg-6">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">费用</h3>
              <div class="col-md-2 ml-auto"><a href="{% url 'mypay_list' %}">更多</a></div>
            </div>
            <div class="table-responsive">
              <table class="table card-table table-vcenter">
                  <thead>
                      <tr>
                          <th scope="col">费用</th>
                          <th scope="col">项目</th>
                          <th scope="col">时间</th>
                          <th scope="col">金额</th>
                          <th scope="col"></th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for pay in pays %}
                      <tr>
                        <td>{{ pay.name }}</td>
                        <td>{{ pay.project.name }}</td>
                        <td>{{ pay.paydate }}</td>
                        <td>{{ pay.amount }}</td>
                        <td><a href="{% url 'pay_update' pay.id%}">编辑</a></td>
                      </tr>
              {% endfor %}
                  </tbody>
              </table>
            </div>
          </div>
    </div>

    <div class="col-md-10 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">任务</h3>
            <div class="col-md-2 ml-auto"><a href="{% url 'myschedule_list' %}">更多</a></div>
          </div>
          <div class="table-responsive">
            <table class="table card-table table-vcenter">
                <thead>
                    <tr>
                        <th scope="col">事项</th>
                        <th scope="col">项目</th>
                        <th scope="col">是否完成</th>
                        <th scope="col">截止时间</th>
                        <th scope="col">超期否</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for schedule in schedules %}
                    <tr>
                        <td><a href="{% url 'schedule_detail' schedule.id%}">{{ schedule.name }}</a></td>
                        <td><a href="{% url 'project_detail' schedule.project.id%}">{{ schedule.project.name }}</a></td>
                        <td><input type="checkbox" onclick="return false" {% if schedule.isfin %}checked{% endif %} /></td>
                        <td>{{ schedule.deadline|date:"Y年m月d日" }}</td>
                        <td>{% if sexpireds|get_item:schedule.id %}<span class="badge bg-danger">超期</span>
                        {% else %}<span class="badge bg-success">未超期</span>{% endif %}</td>
                        <td><a href="{% url 'schedule_update' schedule.id%}">修改</a></td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
    </div>
</div>
</div>
</div>
  </div>

{% endblock %}

{% block addjs %}
<script src="{% static 'plugins/echarts/echarts.min.js' %}"></script>
<script type="text/javascript">
var myChart = echarts.init(document.getElementById('chart1'));
$.ajax({
  type: "get",
  async: true,
  url:  '{% url 'load_tasks_dayfin' %}?day=7',
  dataType: "json",
  success: function(data){
    if(data){
      option = {
        xAxis: {
          type: 'category',
          data: []
        },
        yAxis: {
          type: 'value',
          minInterval: 3
        },
        series: [
        {
          data: data.series,
          type: 'line'
        }
        ]
      }
      myChart.setOption(option);
    }
  }
})


</script>
{% endblock %}