{% extends "cost/pay_base.html" %}
{% load static %}
{% load getitem_tag %}
{% block content %}
<h2 class="page-title">
    支付搜索
  </h2>
<div class="col-md-4">
<a class="btn btn-primary btn-lg m-1" href="{% url 'export_pays' %}?name={{ keychar }}" role="button">导出</a>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">支付项</th>
                <th scope="col">主体</th>
                <th scope="col">支付日期</th>
                <th scope="col">经办人</th>
                <th scope="col">金额</th>
                <th scope="col">预算</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for pay in pay_list %}
            <tr>
                <td>{{ pay.name }}</td>
                <td>{{ pay.businessentity }}</td>
                <td>{{ pay.paydate }}</td>
                <td>{{ pay.transactor }}</td>
                <td>{{ pay.amount|div:10000 }}万</td>
                <td>{{ pay.budget|div:10000 }}万</td>
                <td><a href="{% url 'pay_update' pay.id%}">编辑</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}