{% extends "cost/pay_base.html" %}
{% load static %}
{% block content %}
<h2 class="page-title">
    支付修改
  </h2>
<div class="m-5">
    <form class="form-line" id="payForm" data-budgets-url="{% url 'load_budget' %}"
        action="{% url 'pay_update' pay.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary m-1" type="submit" value="更新" />
    </form>
</div>
{% endblock %}

{% block addjs %}


<link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
<script src="{% static 'js/select2.min.js' %}"></script>

<script>
    $('#id_project').select2({
        ajax: {
            url: '{% url 'load_project' %}',
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term, // search term
                    page: params.page
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;
                // Transforms the top-level key of the response object from 'items' to 'results'
                return {
                    results: data.results,
                    pagination: {
                        more: (params.page * 30) < data.total_count
                    }
                };
            },
        },
        placeholder: '搜索项',
        allowClear : true, // 允许清空
        minimumInputLength: 1,
    });


</script>


<script>
    $("#id_budgetyear").change(function () {
        var url = $("#payForm").attr("data-budgets-url");  // 获取 `load_cities` view
        var budgetyearId = $(this).val();  // 在HTML中获取选取的国家ID
        $.ajax({                       // 初始化 AJAX 请求
            url: url,                    //设置请求地址(= localhost:8000/hr/ajax/load-cities/)
            data: {
                'yearid': budgetyearId       // countryId传到GET参数
            },
            success: function (data) {   //  视图函数 `load_cities`返回到`data`
                $("#id_budget").html(data);  // 用返回的数据替换城市输入框的内容
            }
        });
    });
</script>

{% endblock %}