{% extends "base.html" %}
{% load static %}


{% block search %}
<form action="{% url 'pay_search' %}" method="get" class="form-inline my-2 my-lg-0">
    <div class="input-icon" style="color:Black">
        <span class="input-icon-addon">
          <!-- Download SVG icon from http://tabler-icons.io/i/search -->
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="10" cy="10" r="7"></circle><line x1="21" y1="21" x2="15" y2="15"></line></svg>
        </span>
        <input type="text" class="form-control"  name="name" placeholder="Search…" aria-label="Search in website">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
      </div>
</form>
{% endblock %}