{% extends "base.html" %}
{% load static %}
{% load getitem_tag %}

{% block content %}
<div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row align-items-center">
        <div class="row">
          <h2 class="page-title">
            部门看板——{{ touser.department }}
          </h2>
        </div>
      </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
        <!-- Page title actions -->
    <div class="row row-deck row-cards">
            <div class="col-sm-3 col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">

                      <div class="h1">
                        项目
                      </div>
                    </div>
                    <div class="h2 mb-3">所有：{{ projectnum }}</div>
                    <div class="h3 mb-3">完成：{{ projectfin }}</div>
                    <div class="h3 mb-3">未完成：{{ projectufin }}</div>
                  </div>
                </div>
            </div>

            <div class="col-sm-3 col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="h1">
                        任务
                      </div>
                    </div>
                    <div class="h3 mb-3">未完成：{{ scheduleufin }}</div>      
                    <div class="d-flex align-items-center my-2">
                    <div class="subhead">近期完成</div>
                    <div class="ms-auto lh-1">前7天</div>
                  </div>
                  <div id="chart1" class="chart-sm mt-3" style="min-height: 80px;"></div>
                </div>
              </div>
            </div>

            <div class="col-sm-3 col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">

                      <div class="h1">
                        年费用
                      </div>
                    </div>
                    <div class="h2 mb-3">数量：{{ paynum }}</div>
                    <div class="h3 mb-3">总额：{{ pay_value|div:10000 }}万</div>
                  </div>
                </div>
            </div>
    

</div>
</div>
</div>
  </div>

{% endblock %}

{% block addjs %}
<script src="{% static 'plugins/echarts/echarts.min.js' %}"></script>
<script type="text/javascript">
var myChart = echarts.init(document.getElementById('chart1'));
$.ajax({
  type: "get",
  async: true,
  url:  '{% url 'load_tasks_dayfin' %}?day=7',
  dataType: "json",
  success: function(data){
    if(data){
      option = {
        xAxis: {
          type: 'category',
          data: []
        },
        yAxis: {
          type: 'value',
          minInterval: 3
        },
        series: [
        {
          data: data.series,
          type: 'line'
        }
        ]
      }
      myChart.setOption(option);
    }
  }
})


</script>
{% endblock %}